<div class="mat-app-background">
  <h1 class="mat-tab-header">
    {{title}}
  </h1>

  <md-tab-group>
      <md-tab label="Add">
        <app-input-identity></app-input-identity>
      </md-tab>

      <md-tab label="Search">
        <app-search-identity></app-search-identity>
      </md-tab>

    <!--
    <md-tab>
      <ng-template md-tab-label>
        Swarm Peers
      </ng-template>
      <app-swarm-peers></app-swarm-peers>
    </md-tab>
    -->

    <md-tab label="Links">
      MIT PGP Resource:
      <span (click)="goToLink('https://pgp.mit.edu/')" style="color:blue" class="pointer">
      https://pgp.mit.edu/
      </span>

    </md-tab>

  </md-tab-group>



</div>
